<div class="email-signup__group">
  <h5 id="email-signup__form-heading" class="email-signup__heading">
    <% if(hasErrors) { %>
    <%= I18n.t('email_signup.signup.heading_error') %>
    <% } else { %>
    <%= I18n.t('email_signup.signup.heading') %>
    <% } %>
  </h5>
  <p id="email-signup__form-copy" class="email-signup__copy">
    <% if(hasErrors) { %>
    <label for="email_signup__address"><%= I18n.t('email_signup.signup.copy_error') %></label>
    <% } else { %>
    <label for="email_signup__address"><%= I18n.t('email_signup.signup.discount_copy') %></label>
    <% } %>
  </p>
</div>
<fieldset class="email-signup__group">
  <div class="email-signup__field-group">
    <input type="email" id="email_signup__address" class="email-signup__field" placeholder="<%= I18n.t('email_signup.signup.email_address') %>" aria-required="true">
    <% if(hasErrors) { %>
    <span class="email-signup__field-error" role="alert"><%= I18n.t('email_signup.signup.validation_error') %></span>
    <% } %>
  </div>
  <input type="submit" class="btn btn--border-white email-signup__submit" value="<%= I18n.t('email_signup.signup.cta') %>">
</fieldset>
